/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

.tg {
  display: inline-block;
  height: 3rem;
  width: 25rem;
  border-radius: 0.8rem;
  position: absolute;
  top: 5rem;
  animation-name: test;
  animation-duration: 3s;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes test {
  0% {
    transform: translateX(-30rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(-30rem);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-weight: bold;
  color: #000;
}

*::selection {
  background: blueviolet;
  color: white;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
}

/* Soccial links  ---------------------------------------*/

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.671);
}
/* /custome scroll bar ----------------------------*/

/* goup butoon ------------------------------------- */
.goup {
  background: #fff;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.267);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: none;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 9999;
}

.goup:hover {
  transform: translateY(-10px) scale(1.2);
}
/* /goup ------------------------------------------- */

header {
  height: 100vh;
  position: relative;
}

nav {
  position: relative;
  height: 10vh;
}

header nav ul {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav ul li {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem;
  position: relative;
  /* z-index: 1; */
  cursor: pointer;
}

header a {
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s color;
}
header nav ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  /* background-color: #000; */
  background: blueviolet;
  transition: 0.5s width;
  z-index: -1;
}

header nav ul li:hover::before {
  width: 100%;
}

header nav ul li:hover a {
  color: #fff;
}

.logo {
  display: flex;
 justify-content: center;
 align-items: center;
  /* flex-wrap: wrap; */
  height: 90vh;
  position: relative;
  /* background-color: pink; */
  /* padding:30rem 0 ; */
}

.logo p {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  height: auto;
  /* width: 50rem; */
  text-align: center;
  line-height: 140%;
}

.logo p a:not(#protfolio--but) {
  display: inline;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

header .fa {
  display: inline-block;
  transition: all 0.8s;
}
header .fa:hover {
  transform: scale(1.1) translateY(-0.6rem);
}



.logo p #protfolio--but {
  display: inline-block;
  margin: 5rem 0;
  border: 0.1rem solid #000;
  padding: 1rem 4rem;
  border-radius: 10rem;
  transition: 0.6s background-color;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}



.logo  p #protfolio--but:hover {
  color: #fff;
  border: 0.1rem solid transparent;
  background: blueviolet;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.589);
}
.logo p #protfolio--but:active {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.377);
}

.logo .img__maker{
width: 30rem; 
height: 30rem; 
border-radius: 50%;
display: inline-block;
box-shadow: 0  1rem 3rem rgba(0, 0, 0, 0.247);
border: 2px solid rgba(0, 0, 0, 0.418);
background-image: url('./mypic.jpg');
background-size: cover;
/* background-position: center; */
background-repeat: no-repeat;
overflow: hidden;
}


.skills__menu {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills__item__1 {
  display: inline;
}
.skills-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 20px;
}

.skills--icons img {
  width: 3rem;
  margin-left: 20px;
  cursor: pointer;
  animation-name: nabin;
  animation-delay: 0.3s;
  animation-duration: 10s;
  transition: all 0.5s;
}

@keyframes nabin {
  0% {
    transform: translateY(-1000px);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0);
  }
}

.skills--icons img:hover {
  transform: scale(1.3);
  transform: translateY(-6px);
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.445); */
}

.skills__item__2 {
  align-self: center;
  display: flex;
}

.skills__item__2 .item {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 0.7rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.212);
  cursor: pointer;
  transition: all 0.6s;
}

.skills__item__2 .item:hover {
  transform: scale(1.1) translateY(-1rem);
}
.skills__item__2 .item:active {
  background: blueviolet;
  content: "Clicked";
}

.color__item--1 {
  background-color: #e74c3c;
}
.color__item--2 {
  background-color: #9b59b6;
}
.color__item--3 {
  background-color: #e67e22;
}
.color__item--4 {
  background-color: #34495e;
}
.color__item--5 {
  background-color: #2ecc71;
}
.color__item--6 {
  background-color: #1abc9c;
}
#myexperience {
  min-height: 100vh;
  width: 100%;
  background: #f7f7f7;
}

.myexperience {
  padding: 15rem;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  /* letter-spacing: .1rem; */
  position: relative;
  margin-bottom: 10rem;
}
h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -2rem;
  height: 0.2rem;
  width: 20rem;
  background-color: blueviolet;
}

.myexperience__block {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 20rem;
}

.myexperience__block__frontend,
.myexperience__block__backend,
.myexperience__block__tools,
.myexperience__block__language {
  margin-top:5rem;
  width: 40rem;
}

.myexperience__block ul li {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 4rem;
}
.myexperience__block h3 {
  font-size: 2.5rem;
}

picture {
  display: inline-block;
  margin-bottom: 2rem;
}

/* projects */
#projects {
  height: auto;
  padding: 20rem;
}

#projects .container {
  padding: 3rem;
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  transition: 0.4s all ease;
}

#projects .container:hover {
  transform: scale(1.01) translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.247);
}

.description {
  padding: 0 3rem;
  width: 50%;
}

.description h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
  display: block;
  background-color: #f2f2f2;
  color: #000;
  padding-left: 1rem;
  font-weight: 500;
}
.description p {
  font-size: 2rem;
  padding-bottom: 3rem;
  font-weight: 100;
  /* font-weight: bold; */
}

.description h4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}
.description ul li {
  /* display:block; */
  list-style: none;
  font-size: 1.7rem;
  font-weight: 100;
}

.description .wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  /* background: rgb(250, 14, 14); */
}

.pic {
  /* background-color: #e67e22; */
  position: relative;
  width: 50%;
  /* overflow: hidden; */
  /* display: inline; */
  color: #fff;
}
.pic img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.pic .pic__text {
  position: absolute;
  width: 100%;
  padding: 2rem;
  bottom: 0;
  background: rgba(137, 43, 226, 0.767);
  display: flex;
  justify-content: space-around;
  transition: 0.4s all;
}

.pic .pic__text:hover {
  background: rgb(137, 43, 226);
}
.pic .pic__text a,
i {
  font-size: 1.7rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

/* /projexts */

/*  contacts */
#contact {
  height: auto;
  padding: 15rem;
  background: #f2f2f2;
  text-transform: uppercase;
}

.wrap{
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: rgb(160, 9, 9); */
 /* position: relative; */
}

/* /contacts */
.contact__block {
  position: relative;
    
}

.contact__me {
 /* margin-right: 5rem; */
  width:50rem;
  height: 100%;
  vertical-align: center;
  margin: auto 0;
 /* position: absolute; */
 /* top: 0; */
 /* background: rgb(25, 55, 226); */
 /* align-self: center; */

}

.contact__you {
  width: 50rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.7s;
  box-shadow: 2px 2px 0.6rem rgba(0, 0, 0, 0.493);
  text-align: center;
  padding: 5rem 0px;
  /* background: rgb(141, 5, 5); */
}


.contact__me .item {
  display: flex;
  margin-bottom: 5rem;
}
.contact__me .item i {
  font-size: 3rem;
  color: #fff;
}
.contact__me .item .icons {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.contact__me p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: 1.6rem;
  margin-left: 3rem;
  font-weight: 400;
}
.contact__me p span {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: blueviolet;
}



.contact__you:hover {
  transform: translateY(-3rem);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.493);
}

.contact__you h3 {
  text-transform: uppercase;
  font-size: 2.3rem;
  position: relative;
  margin-bottom: 5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.contact__you h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.493);
   */
  background: blueviolet;
}

.contact__you h3 span {
  font-size: 3rem;
  color: red;
  padding: 1rem;
}

.contact__you label {
  font-size: 1.6rem;
}

.contact__you input {
  margin-bottom: 5rem;
  width: 70%;
  color: black;
  text-align: center;
}

.contact__you input::placeholder {
  color: rgba(0, 0, 0, 0.274);
}
.contact__you input:focus {
  border-color: blueviolet;
}
.contact__you a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.7rem;
  border: 1px solid black;
  padding: 0.5rem 5rem;
  background: blueviolet;
  color: #fff;
  width: 100%;
  transition: all 0.4s;
  margin-top: 3rem;
}

.contact__you a:hover {
  box-shadow: 0.1rem 0.1rem 1rem rgb(141, 31, 243);
}

.contact__you span {
  color: red;
  font-size: 2.5rem;
}

/* wanna work with me */
.workwithme {
  /* height: 60vh; */
  background: blueviolet;
  text-align: center;
  /* margin-top: -13rem; */
  /* z-index: -1; */
  padding: 15rem;
  /* clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%); */
}
.workwithme h3 {
  font-size: 5rem;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.workwithme p {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 8rem;
}

.workwithme a:link,
.workwithme a:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  border: 2px solid white;
  padding: 1.6rem 6rem;
  border-radius: 5rem;
  transition: 0.4s all;
}
.workwithme a:hover {
  box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.507);
  /* box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.63); */
}
.workwithme a:active {
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.507);
  /* box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, 0.63); */
}
/* /wanna work wiht me */

/* footer section */
footer {
  /* height: 30vh; */
  /* margin-top: -10rem; */
  padding: 5rem;
  background: #f2f2f2;
  text-align: center;
}

footer #logo {
  display: inline-block;
  background: blueviolet;
  color: white;
  border-radius: 50%;
  padding: 2rem;
  font-size: 2.8rem;
  margin: 5rem 0;
}

footer #copyright {
  font-size: 1.7rem;
  font-weight: 100;
}
/* /footer section */
