/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-weight: bold;
  color: #000;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
}

/* custome Scroll bar --------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.671);
}
/* /custome scroll bar ----------------------------*/

/* goup butoon ------------------------------------- */
.goup {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.267);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: none;
  cursor: pointer;
  transition:all .2s;
}

.goup:hover{
transform: translateY(-10px) scale(1.2);
}
/* /goup ------------------------------------------- */

header {
  height: 100vh;
  position: relative;
}

nav {
  position: relative;
  height: 10vh;
}

header nav ul {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav ul li {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s color;
}
li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #000;
  transition: 0.5s width;
  z-index: -1;
}

li:hover::before {
  width: 100%;
}

li:hover a {
  color: #fff;
}

.logo {
  padding-top: 20rem;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo .about {
  display: flex;
}

.logo .about p {
  font-size: 2rem;
  /* color: rgba(66, 65, 65, 0.74); */
  color: rgba(0, 0, 0, 0.726);
  height: 25rem;
  width: 30vw;
  align-self: center;
  text-align: center;
  margin-left: 3rem;
  line-height: 140%;
}

.logo .about p a {
  display: inline-block;
  margin-top: 2rem;
  border: 1px solid #000;
  padding: 1rem 4rem;
  border-radius: 10rem;
  transition: 0.6s background-color;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.logo .about p a:hover {
  color: #fff;
  background-color: #000;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.589);
}
.logo .about p a:active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.377);
}

.about img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.skills-text {
  font-size: 18px;
  font-weight: 50;
  margin-bottom: 10px;
  margin-left: 20px;
}

.myskills {
  position: absolute;
  bottom: 10vh;
  left: 10%;
}

.skills--icons img {
  width: 2%;
  margin-left: 20px;
  cursor: pointer;
  animation-name: nabin;
  animation-delay: 0.3s;
  animation-duration: 10s;
  transition: all 0.5s;
}

@keyframes nabin {
  0% {
    transform: translateY(-1000px);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0);
  }
}

.skills--icons img:hover {
  transform: scale(1.3);
  transform: translateY(-6px);
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.445); */
}

#projects {
  height: 100vh;
  background: #f7f7f7;
}
