*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

::selection{
    background-color: $color-primary;
    color: $color-secondary;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
}